html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 10px;
}
.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 0px;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: black;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
