{% extends "base.html" %}
{% block content %}
<div class="container text-center">
  <h1 class="text-success" style="margin:4%">Hall of Fame</h1>
  <div class="table-responsive">
  <table class="table text-white text-center table-bordered" >
    <thead>
      <tr class="text-danger" style="font-size:150%">
        <th>Roll No.</th>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% set rank=namespace(value=1) %}
      {% for user in users %}
        <tr>
          <td>{{user.roll}}</td>
          <td>{{user.username}}</td>
          <td>{{user.score}}</td>
        </tr>
      {% set rank.value=rank.value+1 %}
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

{% endblock %}
